body {
	background: #eee;
}

#maximize {
	width: 100%;
	height: 100%;

	position: fixed;
	display: none;
}

#maximize #showing {
	max-width: 400px;
	max-height: 400px;

	margin-left: 300px;
	margin-top: -300px;
}

#maximize #minimize {
	float: right;
	width: 50px;
	height: 50px;

	margin-right: 30px;
	margin-top: -480px;
}

#maximize #minimize img {
	width: 50px;
	height: 50px;
}

#maximize #left {
	width: 100px;
	height: 150px;
	background: red;
	margin-top: 250px;
	margin-left: 100px;
	opacity: 0.7;
}

#maximize #right {
	width: 100px;
	height: 150px;
	background: red;
	float: right;
	margin-top: -250px;
	margin-right: 100px;
	opacity: 0.7;
}

#maximize #left img {
	width: 100px;
	height: 150px;
}

#maximize #right img {
	width: 100px;
	height: 150px;
}

.im1 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im2 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im3 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;

}

.im4 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im5 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im6 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im7 {
	width: 800px;
	height: 300px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid #eee;
	margin-top: 100px;
}

.im8 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

.im9 {
	width: 800px;
	height: 500px;
	margin-left: -40px;
	border-radius: 10px;
	border: 5px solid white;
}

#container {
	width: 100%;
	height: 1000px;


}

#container #top {
	width: 100%;
	height: 200px;
	background: #f55757;
	background-repeat: no-repeat;
	background-size: 100%;
	box-sizing: border-box;
	padding-top: 20px;


}

#container #top #head {

	Height: 120px;
	width: 300px;
	text-align: center;
	padding-top: 5px;
	margin: auto;
	margin-right: 50px;
}

#container #top #head h1 {
	font: 60px "impact";
	color: #fff;
}

#container #top #head1 {
	width: 100%;
	height: 50px;

	background-attachment: fixed;
}

#container #middle #head1 #menu {
	width: 80%;
	height: 50px;

	margin: auto;

}

#container #middle #head1 #menu ul {
	width: 100%;
	height: 80px;

	list-style-type: none;
	padding: 5px;
	text-align: centre;
	box-sizing: border-box;
	padding: 0 0 0 0;
	margin-left: 17%;
}

#container #middle #head1 #menu ul li {

	width: 120px;
	height: 40px;
	background: #555;
	color: #fff;
	display: inline-block;
	font: 25px century gothetic;
	text-align: center;
	padding-top: 2px;
	margin-left: 10px;
	box-shadow: 10px 5px 10px grey;
	opacity: 0.8;
}

#container #middle #head1 #menu ul #l2 {
	background: red;
	color: black;
}

#container #middle #head1 #menu ul li a {
	text-decoration: none;
	color: #fff;

}

#container #middle #head1 #menu ul li:hover {
	background: #Eee;
	opacity: 0.9;
	box-shadow: 0 0 0;
}

#container #middle #head1 #menu ul li:hover a {

	color: #111;
}

#container #middle1 {
	width: 100%;
	height: 1000px;

}

#container #middle1 ul {
	list-style-type: none;
	padding: 20 30;
	box-sizing: border-box;
}

#container #middle1 ul li {
	list-style-type: none;
	height: 200px;
	width: 300px;
	display: inline-block;
	background: red;
	margin-left: 100px;

}

#container #middle1 ul li img {
	height: 200px;
	width: 300px;

	box-shadow: 10px 5px 10px grey;
}

#container #middle1 ul li img:hover {
	box-shadow: 0 0 0;
	cursor: pointer;
}